<div class ="container text-center"> 
<h1>About Page</h1>
<p> We are Devmatch. We are based in the bay area, and we out here tryin' to get hyphy.
Just kidding, we're from LA and love tacos. Come eat tacos with us! 
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque sint beatae quisquam repudiandae nihil qui obcaecati soluta praesentium maxime magni. Rerum dignissimos laborum impedit repudiandae consequuntur perferendis fugiat natus deleniti!
</p>

</div>
